[submodule "tickwork-engine"]
	path = tickwork-engine
	url  = https://github.com/tickwork/tickwork-engine
	branch = dev

[submodule "tickwork-macros"]
	path = tickwork-macros
	url  = https://github.com/tickwork/tickwork-macros
	branch = dev

[submodule "tickwork-shell"]
	path = tickwork-shell
	url  = https://github.com/tickwork/tickwork-shell
	branch = dev

[submodule "tickwork-store"]
	path = tickwork-store
	url  = https://github.com/tickwork/tickwork-store
	branch = dev

[submodule "tickwork"]
	path = tickwork
	url  = https://github.com/tickwork/tickwork
	branch = dev

[submodule "tickwork-inspector"]
	path = tickwork-inspector
	url  = https://github.com/tickwork/tickwork-inspector
	branch = dev

[submodule "holum"]
	path = holum
	url  = https://github.com/tickwork/holum
	branch = dev

[submodule "docs"]
	path = docs
	url  = https://github.com/tickwork/docs

[submodule "www"]
	path = www
	url  = https://github.com/tickwork/www

[submodule "tickwork-demo"]
	path = tickwork-demo
	url = https://github.com/tickwork/tickwork-demo
	branch = dev
